*.class
*.orig
*.pyc
*.pyo
*.rej
.hg

*.komodoproject
.project
.hgignore

.komodotools/
user_guide/*

application/cache/*
!application/cache/index.html
!application/cache/.htaccess
application/logs/*
!application/logs/index.html
!application/logs/.htaccess