*.class
*.orig
*.pyc
*.pyo
*.rej
.hg

*.komodoproject
.idea/
.settings/
.buildpath
.project
*.sublime-project
*.sublime-workspace	
.hgignore

.komodotools/

application/cache/*
!application/cache/index.html
!application/cache/.htaccess
application/logs/*
!application/logs/index.html
!application/logs/.htaccess